<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coolagenda"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>           
        </activity>
        
       <activity android:name=".Contato"></activity>
       <activity android:name=".ContatoAdapter"></activity>
       <activity android:name=".ContatoActivity"></activity>
       <activity android:name=".ContatoCRUD"></activity>
       <activity android:name=".EditaContatoActivity"></activity>
         
        <activity android:name=".Compromisso"></activity>       
        <activity android:name=".CompromissoAdapter"></activity>
        <activity android:name=".CompromissoActivity"></activity>     
        <activity android:name=".CompromissoCRUD"></activity>   
        <activity android:name=".EditaCompromissoActivity"></activity>
        
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".MyDatabaseHelper"></activity>
        
    </application>

</manifest>
